# Puerto donde corre el servidor
PORT=4000

# URL base de la API externa (TheSportsDB)
SPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v1/json/3

# ID del equipo FC Barcelona en TheSportsDB
BARCELONA_TEAM_ID=133739
